h1{
    color: rgb(38, 0, 255); 
    font-size: 40px;}
p{
    color: rgb(252, 151, 0); 
    font-size: 30px;
    font-family:'Times New Roman', Times, serif}
img{
    width: 550px; 
    height: 450px; 
    border: 4px solid rgb(255, 0, 149);}